/* common shared style */

* {
    font-family: 'Open Sans', sans-serif;

}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    border: 0px;
    text-align: center;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* nav style start here */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 15px;
    font-weight: 400;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* Header style start here */

.header-optimize {
    background-color: #FFF8F3;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner-container {
    display: flex;
    padding: 30px 30px 0px 200px;
    justify-content: space-between;
}

.profile-img {
    height: 300px;
    width: 250px;
}

/* main style here */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about container style start here */

.about-section {

    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/* skill box style */

.skill-box {
    display: flex;
    gap: 20px;
}

.box {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.resume-container{
    display: flex;
}

section .primary-btn{
    justify-content: center;
    display: flex;
}